.App {
  min-height: 100vh;
  background-color: var(--bg);
}

.App__header {
  background-color: var(--bg-alt);
  min-height: 2rem;
  padding: 0.5rem;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.App__header__wrap {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.App__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  max-width: 960px;
  margin: auto;
}

.App__main form {
  display: flex;
  flex-direction: column;
}

.App__main form .field-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.field-wrap.field-wrap--list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.field-wrap.field-wrap--list ul li {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.list-form-fields {
  display: grid;
}

.list-form-fields.list-form-fields--number {
  grid-template-columns: 2rem 1fr 1fr;
  grid-gap: 0.5rem;
}

label {
  font-weight: bold;
  margin-bottom: .5rem;
}

input {
  width: 100%;
  box-sizing: border-box;
  min-height: 36px;
  margin: 0;
  outline: 0;
  border: 1px solid var(--hr);
  padding: 2px 8px;
}
